<nav>
  <ul>
    <li><a href="index.html" onclick="router.route(event);">Inicio</a></li>
    <li><a href="usuarios" onclick="router.route(event);">Usuarios</a></li>
    <li><a href="servicios" onclick="router.route(event);">Servicios</a></li>
    <li><a href="asignaciones" onclick="router.route(event);">Asignaciones</a></li>
  </ul>
</nav>
<h1>Agregar usuario</h1>
<form id="agregarFormId" method="GET" action="" >
  <label>Nombre</label><br>
  <input id="nombreInputTextId" type="text" placeholder="Ingrese el nombre" size="50" required>
  <input id="agregarInputButtonId" value="Agregar" name="accion" type="submit" onclick="router.controller.agregar(event);">
</form>
